
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7289DA;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 360px;
  padding: 20px;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding-bottom: 25px;
}

.container h2 {
  text-align: center;
  color: #3a53ac;
  white-space: nowrap;
  font-size: 20px;
}

.container .details {
  width: 100%;
  margin-top: 20px;
}

.container .details div {
  height: 70px;
  width: 105px;
  float: left;
  text-align: center;
}

.container .details div span {
  color: #7289DA;
}

.container .details div input {
  all: unset;
  height: 30px;
  width: 80px;
  border: 2px solid #6a82db;
  border-radius: 3px;
  margin-top: 2px;
}

.container .submit-btn {
  all: unset;
  height: 35px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #95a9f3;
  color: white;
  border-radius: 7px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  position: relative;
  top: 5px;
  
}

.container .result {
  margin-top: 25px;
  color: #b6c4f8;
  text-align: center;
  display: none;
}

::selection {
  background: #373d51;
  color: white;
}
